wget
pandas
numpy
streamlit
plotly
seaborn
matplotlib
koreanize-matplotlib
wordcloud
scikit-image==0.19.2
datetime
scikit-learn
networkx
gensim
streamlit-modal
streamlit-extras
psutil
streamlit-elements
requests
openai
streamlit_chat
Pillow
pyvis
st-annotated-text
htbuilder
markdownlit
streamlit-tags
